body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

input, textarea, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
}
